# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# IDE
.idea/
.vscode/

# Node
node_modules/

# Environment / secrets
.env
db_config.json

# Flask instance folder (often contains DB or secrets)
instance/

scratch/

# Logs
*.log

# OS junk
.DS_Store

static/uploads/
database/
