alembic==1.13.1
blinker==1.8.2
click==8.1.7
Flask==3.0.2
Flask-Mail==0.9.1
Flask-Migrate==4.0.6
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
icalendar==5.0.12
itsdangerous==2.1.2
Jinja2==3.1.3
Mako==1.3.2
MarkupSafe==2.1.5
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
SQLAlchemy==2.0.28
typing_extensions==4.10.0
Werkzeug==3.0.1
flask-login
selenium
beautifulsoup4
requests
flask-wtf
pillow
qrcode
geoip2
gunicorn
cryptography
psycopg2-binary
smbprotocol
stripe
markdown
cairosvg==2.9.0
