.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* This pushes items to opposite ends */
    padding: 10px 20px;
    background-color: #1f1f1f;
    color: white;
    height: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar-title {
    font-size: 1.5em;
}

.navbar-logo {
    width: 24px;
    height: 24px;
}

.base-navbar-home-button {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    /* margin-right: 10px; */
}

.home-button:hover {
    color: #ddd;
}

.search-container {
    position: relative;
}

.search-container.active .search-form {
    display: block;
}

.search-form {
    display: none;
    position: absolute;
    top: 10px;
    /* left: 0; */
    background-color: #101010;
    padding: 10px;
    left: -55px;
    flex: auto;
    flex-direction: row;
    width: 200px;
    /* border-style: solid; */
    /* border-color: #5a506c; */
    border-radius: 4px;
}

.fa-star:before {
    content: "\f005";
    color: aqua;
    font-size: 21px;
}

.search-icon {
    background: none;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;

}

.search-icon:hover {
    color: #5eeef8;
}

#searchQuery {
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 5px 0;
    outline: none;
}

#searchQuery::placeholder {
    color: #fff;
}

.search-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.profile-dropdown {
    position: relative;
    display: inline-block;
}

.profile-icon {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: flex;       /* Ensures the <i> tag inside is centered */
    align-items: center;
}

#profileDropdownContent {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#profileDropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#profileDropdownContent a:hover {
    background-color: #f1f1f1;
}

#profileDropdownContent.show {
    display: block;
}

.base-navbar-item {
    margin-right: 10px;
}